[Desktop Entry]
Categories=Qt;KDE;Network;RemoteAccess;
Comment[en_US]=Desktop Sharing
Comment=Desktop Sharing
Exec=krfb --nodialog
GenericName[en_US]=Desktop Sharing (VNC)
GenericName=Desktop Sharing (VNC)
Icon=krfb
MimeType=
Name[en_US]=Krfb
Name=Krfb
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.krfb
X-DBUS-StartupType=Unique
X-DocPath=krfb/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Wayland-Interfaces=org_kde_kwin_fake_input,org_kde_kwin_remote_access_manager
