body, body.body-pop {
  background:#333;
}
#form {
  border:1px solid #505050;
  color: #ccc;
  background: #222;
}
h1 {
  color: #aaa;
}
a {
  color: #73aaf7;
}
#hiqrweb {
  color: #ccc;
  background: #252525;
  border-bottom: none;
}  
.input-group-addon {
  color: #555;
  background-color: #373737;
  border: 1px solid #666;
}
.hqr-transbg {
  color:#333 !important;
  background: #191919 !important;
}
input[type="text"] {
  background: #000;
  color: beige;
  outline: none;
  border: 1px solid #666;
}
.btn-default {
  color: #ccc;
  background-color: #191919;
  border-color: #666;
}
.btn-default:hover {
  color: beige;
  background-color: #000;
  border-color: #999;
}

#fbifm, input[type="checkbox"] {
  filter:invert(1);
}

#back-form:hover, #hotkey-settings:hover {color:#fff;}
#back-form:hover svg path, #hotkey-settings:hover svg path{
  fill:#fff;
}

.input-not-allowed {
  background:#222;
}
.input-not-allowed i {
  opacity: .3;
}

h1 img {
  content:url("/icon_19_dark.png")
}

a:hover, #hiqrweb:hover {
  color:#fff
}

.colorpicker {
  background: #000;
}
.colorpicker-right:after {
  filter: brightness(0);
}

.toggle-sub svg g {
  fill:#ccc;
}
.color_scheme_pick {
  background: #000;
}