[Unit]
Description=ISW Cooler Boost

[Service]
Type=simple
StartLimitIntervalSec=10
Restart=always
ExecStart=/opt/scripts/cool.sh

[Install]
WantedBy=multi-user.target
