[Unit]
Description=MSSQL Docker Container

[Service]
Type=simple
Restart=no
ExecStart=docker container start sql1

[Install]
WantedBy=multi-user.target
