[Desktop Entry]
Exec=/home/s/scripts/confedit.sh nvim
Name=/home/s/scripts/confedit.sh nvim
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
