[Desktop Entry]
Exec=/home/s/scripts/confedit.sh code
Name=/home/s/scripts/confedit.sh code
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
