[Desktop Entry]
Version=1.0
Type=Application
Name=Issuer Portal (Proxy-US) | juissuer | Java Update
Exec=intellij-idea-ultimate /mnt/sdb1/home/s/orion/proxy-us-java/source/proxy-voting/IssuerPortal/
Icon=/snap/intellij-idea-ultimate/current/bin/idea.png
