[Desktop Entry]
Exec=/home/s/scripts/protonvpn.sh
Name=/home/s/scripts/protonvpn.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
