[Desktop Entry]
Exec=tdrop -ma -s dropdown kitty
Name=tdrop -ma -s dropdown kitty
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
