[Desktop Entry]
Version=1.0
Type=Application
Name=Admin Portal (Proxy-US) | uadmin
Exec=intellij-idea-ultimate /mnt/sdb1/home/s/orion/proxy-us/source/proxy-voting/Client/
Icon=/snap/intellij-idea-ultimate/current/bin/idea.png
