[Desktop Entry]
Version=1.0
Type=Application
Name=Service App (Proxy-US) | uservice | nvim
Exec=intellij-idea-ultimate /home/s/orion/proxy-us/source/proxy-voting/ShareHolderPortal/Service/
Icon=/snap/intellij-idea-ultimate/current/bin/idea.png

