[Desktop Entry]
Version=1.0
Type=Application
Name=ShareHolder Portal (Proxy-US) | ushareholder | nvim
Exec=intellij-idea-ultimate /home/s/orion/proxy-us/source/proxy-voting/ShareHolderPortal/Client/
Icon=/snap/intellij-idea-ultimate/current/bin/idea.png
