.simplenetspeed-label {
    text-align: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .8em;
}

.simplenetspeed-label-w {
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .8em;
}

.simplenetspeed-label-1 {
    text-align: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .8em;
}

.simplenetspeed-label-w-1 {
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .8em;
}

.simplenetspeed-label-2 {
    text-align: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .8em;
}

.simplenetspeed-label-w-2 {
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .8em;
}

.simplenetspeed-label-3 {
    text-align: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .8em;
}

.simplenetspeed-label-w-3 {
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .8em;
}

.simplenetspeed-label-4 {
    text-align: left;
    margin-left: 1px;
    margin-right: 2px;
    font-size: .8em;
}

.simplenetspeed-label-w-4 {
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    font-size: .8em;
}
